<ion-view title="Profile">

    <ion-content padding="true" scroll="false" class="has-header">

        <div class="list">

            <span class="item item-icon-left">
                <i class="icon ion-person"></i>
                Paul Beresuita
            </span>


            <div class="item item-icon-left item-button-right">
                <i class="icon ion-ios-telephone"></i>
                <span ng-show="!profile.editMode" >{{profile.userNumber}}</span>
                <button ng-show="!profile.editMode" class="button button-positive" ng-click="profile.goToEditMode()">
                    Edit
                </button>
                <input  ng-show="profile.editMode" type="text" placeholder="Telephone Number" ng-model="profile.userNumber">
                <button ng-show="profile.editMode" class="button button-balanced" style="margin-top: 8px;" ng-click="profile.saveUserNumber()">
                    Save
                </button>
            </div>


            <div class="list list-inset">

                <div style="padding-top: 15px; padding-bottom: 15px;" class="item item-divider">
                    Topics of Interest
                    <button style="float: right;" class="button button-small">Edit</button>
                </div>
                <ion-list>
                    <ion-item ng-repeat="topic in profile.topicsnames" ng-model="topics.selected[topic.name]">{{topic.name}}</ion-item>
                </ion-list>

            </div>

            <div class="list list-inset">

                <div style="padding-top: 15px; padding-bottom: 15px;" class="item item-divider">
                    Goals
                </div>
                <div class="item">
                </div>

            </div>

        </div>

        <button class="button button-light" ng-click="profile.sendMessage()">
            Send Message
        </button>

    </ion-content>

</ion-view>