<ion-view title="Topics of Interest">
    <ion-content padding="true" class="has-header">

        <h4>What are some favorite subjects?</h4>
        <ion-list>
            <ion-checkbox ng-repeat="topic in topics.topicsnames" ng-model="topics.selectedSubjects[topic.name]">{{topic.name}}</ion-checkbox>
        </ion-list>

        <br>

        <h4>What are your goals?</h4>
        <ion-list>
            <ion-checkbox ng-repeat="goal in topics.goalsnames" ng-model="topics.selectedGoals[goal.name]">{{goal.name}}</ion-checkbox>
        </ion-list>

        <button class="button button-balanced button-block" ng-click="topics.switchToHome()">Start Exploring</button>

    </ion-content>
</ion-view>