<ion-view title="Home">
    <ion-content padding="true" scroll="true" class="has-header">

        <div class="row responsive-sm responsive-md" ng-repeat="content in home.userStack" ng-if="$index % 2 == 0">

            <div class="col col-50" >
                <div class="list card">

                    <div class="item item-avatar item-icon-left item-divider">
                        <i class="icon ion-ios-book"></i>
                        <h2>{{home.userStack[$index].name}}</h2>
                        <p>Nine Inch Nails</p>
                    </div>

                    <div class="item item-image">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" ng-src="{{trustSrc(home.userStack[$index].videourl)}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <!--<a class="item item-icon-left assertive" href="#">-->
                        <!--<i class="icon ion-happy-outline"></i>-->
                        <!--Never Give Up!-->
                    <!--</a>-->

                </div>
            </div>

            <div class="col col-50" >
                <div class="list card">

                    <div class="item item-avatar item-icon-left item-divider">
                        <i class="icon ion-ios-book"></i>
                        <h2>{{home.userStack[$index+1].name}}</h2>
                        <p>Nine Inch Nails</p>
                    </div>

                    <div class="item item-image">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" ng-src="{{trustSrc(home.userStack[$index+1].videourl)}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </ion-content>
</ion-view>