<ion-view title="Home">
    <ion-content padding="true" scroll="true" class="has-header">
        <div class="row responsive-md">
            <div class="col">
                <div class="list card">

                    <div class="item item-avatar item-icon-left">
                        <i class="icon ion-ios-videocam-outline"></i>
                        <h2>Why do we Fall</h2>
                        <p>Nine Inch Nails</p>
                    </div>

                    <div class="item item-image">
                        <div class="embed-responsive embed-responsive-16by9">
                            <youtube-video class="embed-responsive-item" video-url="videoTwoURL"></youtube-video>
                        </div>
                    </div>

                    <a class="item item-icon-left assertive" href="#">
                        <i class="icon ion-happy-outline"></i>
                        Never Give Up!
                    </a>

                </div>
            </div>
            <div class="col">
                <div class="list card">

                    <div class="item item-avatar item-icon-left">
                        <i class="icon ion-ios-videocam-outline"></i>
                        <h2>Why do we Fall</h2>
                        <p>Nine Inch Nails</p>
                    </div>

                    <div class="item item-image">
                        <div class="embed-responsive embed-responsive-16by9">
                            <youtube-video class="embed-responsive-item" video-url="videoTwoURL"></youtube-video>
                        </div>
                    </div>

                    <a class="item item-icon-left assertive" href="#">
                        <i class="icon ion-happy-outline"></i>
                        Never Give Up!
                    </a>

                </div>
            </div>
            <div class="col">
                <div class="list card">

                    <div class="item item-avatar item-icon-left">
                        <i class="icon ion-ios-videocam-outline"></i>
                        <h2>Why do we Fall</h2>
                        <p>Nine Inch Nails</p>
                    </div>

                    <div class="item item-image">
                        <div class="embed-responsive embed-responsive-16by9">
                            <youtube-video class="embed-responsive-item" video-url="videoTwoURL"></youtube-video>
                        </div>
                    </div>

                    <a class="item item-icon-left assertive" href="#">
                        <i class="icon ion-happy-outline"></i>
                        Never Give Up!
                    </a>

                </div>
            </div>
            <div class="col">
                <div class="list card">

                    <div class="item item-avatar item-icon-left">
                        <i class="icon ion-ios-videocam-outline"></i>
                        <h2>Why do we Fall</h2>
                        <p>Nine Inch Nails</p>
                    </div>

                    <div class="item item-image">
                        <div class="embed-responsive embed-responsive-16by9">
                            <youtube-video class="embed-responsive-item" video-url="videoTwoURL"></youtube-video>
                        </div>
                    </div>

                    <a class="item item-icon-left assertive" href="#">
                        <i class="icon ion-happy-outline"></i>
                        Never Give Up!
                    </a>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>